@{
    ViewBag.Title = "About HahaVille";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
The best Gaming sites under <a href="www.hahaville.com">www.HaHaVille.com</a>.<br />
Enjoy Our mini Games / Flash Games. There are several categories, Adventure Flash Games, Shooting Flash Games, Puzzle Flash Games, Sport Flash Games, Arcade Flash Games, Girl Flash Games. Enjoy ~~~</p>
