@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "HahaVille Mini Games Portal.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email Address:</strong>   <a href="mailto:hahaville@example.com">support@hahaville.com</a>
</address>