@model HahaVille.Models.GameInfo
@{
    ViewBag.Title = "Game Details";
}

<section style="margin-top:30px;text-align: center;">
    <div style="margin: 0px auto;">
        <div id="gameImage"style="max-width: 932px;margin: 0px auto;">
            <img src=@Model.Thumbnail style='width:50%;object-fit: contain' />
        </div>
        <div id="gameTitle" style="max-width: 600px;margin: 0px auto;">
            <h2>@Model.Name</h2>
            <p>
              @Html.Raw(Model.Description)
            </p>
            <a href="@("/games/play/" + Model.Name.Replace(" ","-"))" class="btn btn-success btn-block">PLAY</a>
        </div>
    </div>
   
</section>

