@model HahaVille.Models.Game
@{
    ViewBag.Title = "Play";
}
<section id="swfSec">
    <div id="hvGame" style="width:100%;height:90%">
        <p>Alternative content</p>
    </div>
    <input type="hidden" id='hfGamePath' data-game-path='@Model.GamePath' />
    <input type="hidden" id='hfHtml5' data-ishtml5='@Model.IsHtml5' />
</section>
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/swfobject.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/game.js")"></script>
}